body {
    color: white;
    background-color: rgb(9,53,75);
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
h1 {
    color: white;
    position: center;
    text-align:center;
}
p {
    color: white;
    position: center;
    text-align:center;
}
.header img {
    position: absolute;
    right: 0%;
    background: #555;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0px;
    color: white;
    background-color: rgb(9,53,75);
    border-right: solid violet 4px;
}

/* Control the right side */
.right {
    right: 0;
    color: white;
    background-color: rgb(9,53,75);
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
textarea {
    resize: none;
    white-space: nowrap;
    overflow: hidden;
}
.scroll::-webkit-scrollbar {
    display: none;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}
.divboarder {
    border-style: solid;
    border-width: 4px;
    border-color: #FFD700;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}